In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pywt
import os
from PIL import Image
import random
import math

In [56]:
path = './'
print(os.listdir(path))

['.git', '.gitignore', 'data_10_10_cuts.csv', 'data_10_20_cuts.csv', 'data_10_2_cuts.csv', 'data_10_3_cuts.csv', 'data_10_4_cuts.csv', 'data_10_5_cuts.csv', 'data_5_10_cuts.csv', 'data_5_20_cuts.csv', 'data_5_2_cuts.csv', 'data_5_3_cuts.csv', 'data_5_4_cuts.csv', 'data_5_5_cuts.csv', 'data_generator.ipynb', 'KNN.ipynb', 'main.ipynb', 'README.md', 'requirements.txt', 'SVM.ipynb', 'trafico-10', 'trafico-5', 'venv']

In [57]:
n_classes = 10
df1 = pd.read_csv(path+f'trafico-{n_classes}/Train.csv')
df2 = pd.read_csv(path+f'trafico-{n_classes}/Test.csv')

display(df1.shape)
display(df2.shape)

(12201, 8)

(4036, 8)

In [58]:
df = pd.concat([df1, df2])
display(df.shape, list(df.columns))

av_dim = math.ceil(df['Width'].mean()), math.ceil(df['Height'].mean())
display(av_dim)

(16237, 8)

['Width', 'Height', 'Roi.X1', 'Roi.Y1', 'Roi.X2', 'Roi.Y2', 'ClassId', 'Path']

(40, 40)

In [59]:
def toFV(mat, n):
  """__Haar wavelete function_
    mat: image matrix
    n: slices
  """ 
  for i in range(n):
    mat, (LH, HL, HH) = pywt.dwt2(mat, 'haar')
  return list(np.array(np.matrix(mat).flatten()).ravel())

In [ ]:
cuts = 2
fvs = []
for p in df['Path']:
    im_path = f'./trafico-{n_classes}/' + p
    # print(im_path)
    i = Image.open(im_path)
    new_i = i.resize(av_dim)
    # display(i, new_i)
    # print(len(toFV(np.asarray(new_i), cuts)))
    fvs.append(np.round(toFV(np.asarray(new_i), cuts), decimals=5))
fvs = np.matrix(fvs)
df_f = pd.DataFrame(fvs)

In [ ]:
df_f.columns = [f'f_{i}' for i in range(len(df_f.columns))]

In [ ]:
display(df_f.head(5))

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_30,f_31,f_32,f_33,f_34,f_35,f_36,f_37,f_38,f_39
0,126722048.0,130523136.0,134520832.0,137883648.0,143765504.0,139075584.0,120868864.0,99934208.0,104685568.0,112574464.0,...,101728256.0,101318656.0,102604800.0,103006208.0,104034304.0,105394176.0,105132032.0,102064128.0,99016704.0,97607680.0
1,132313088.0,135270400.0,138477568.0,140316672.0,141271040.0,123637760.0,107446272.0,101986304.0,106835968.0,114708480.0,...,102023168.0,102612992.0,102334464.0,101425152.0,102879232.0,105508864.0,105668608.0,101187584.0,97783808.0,97046528.0
2,134053888.0,139218944.0,143044608.0,139304960.0,122179584.0,106278912.0,99786752.0,102227968.0,103297024.0,103985152.0,...,101179392.0,97968128.0,99741696.0,98951168.0,100536320.0,104497152.0,105828352.0,102338560.0,97456128.0,94199808.0
3,136908800.0,142196736.0,142434304.0,129204224.0,101171200.0,96546816.0,97607680.0,100909056.0,103481344.0,98689024.0,...,97542144.0,101978112.0,100925440.0,100368384.0,102576128.0,107442176.0,104194048.0,98021376.0,93085696.0,91439104.0
4,129961984.0,134168576.0,138801152.0,144396288.0,149508096.0,141045760.0,111595520.0,101367808.0,102445056.0,98213888.0,...,123568128.0,112644096.0,102064128.0,99536896.0,105848832.0,101695488.0,102084608.0,106381312.0,109187072.0,107470848.0

In [ ]:
df_f['ClassId'] = list(df['ClassId'])
df_f['Path'] = list(df['Path'])

In [ ]:
display(df.shape)

(16237, 8)

In [ ]:
df_f.to_csv(path_or_buf=f'./data_{n_classes}_{cuts}_cuts.csv', index=False)