In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pywt
import os
from PIL import Image
import random
import math

In [44]:
path = './'
print(os.listdir(path))

['.git', '.gitignore', 'data_5_10_cuts.csv', 'data_5_20_cuts.csv', 'data_5_5_cuts.csv', 'data_generator.ipynb', 'KNN.ipynb', 'main.ipynb', 'README.md', 'requirements.txt', 'SVM.ipynb', 'trafico-10', 'trafico-5', 'venv']

In [45]:
n_classes = 10
df1 = pd.read_csv(path+f'trafico-{n_classes}/Train.csv')
df2 = pd.read_csv(path+f'trafico-{n_classes}/Test.csv')

display(df1.shape)
display(df2.shape)

(12201, 8)

(4036, 8)

In [46]:
df = pd.concat([df1, df2])
display(df.shape, list(df.columns))

av_dim = math.ceil(df['Width'].mean()), math.ceil(df['Height'].mean())
display(av_dim)

(16237, 8)

['Width', 'Height', 'Roi.X1', 'Roi.Y1', 'Roi.X2', 'Roi.Y2', 'ClassId', 'Path']

(40, 40)

In [47]:
def toFV(mat, n):
  """__Haar wavelete function_
    mat: image matrix
    n: slices
  """ 
  for i in range(n):
    mat, (LH, HL, HH) = pywt.dwt2(mat, 'haar')
  return list(np.array(np.matrix(mat).flatten()).ravel())

In [48]:
cuts = 5
fvs = []
for p in df['Path']:
    im_path = f'./trafico-{n_classes}/' + p
    # print(im_path)
    i = Image.open(im_path)
    new_i = i.resize(av_dim)
    # display(i, new_i)
    # print(len(toFV(np.asarray(new_i), cuts)))
    fvs.append(np.round(toFV(np.asarray(new_i), cuts), decimals=5))
fvs = np.matrix(fvs)
df_f = pd.DataFrame(fvs)

In [49]:
df_f.columns = [f'f_{i}' for i in range(len(df_f.columns))]

In [50]:
display(df_f.head(5))

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_70,f_71,f_72,f_73,f_74,f_75,f_76,f_77,f_78,f_79
0,5162.50,2572.0,5234.50,2732.0,5423.50,2787.0,5708.75,2707.0,6015.75,2759.0,...,3937.75,2495.0,3691.75,2725.0,3344.50,2885.0,3163.50,2880.0,3183.50,2774.0
1,5233.75,2842.0,5369.25,2887.0,5538.00,2914.0,5683.25,2881.0,5831.50,2791.0,...,3986.75,2453.0,3910.50,2539.0,3490.00,2686.0,3177.25,2791.0,3108.25,2815.0
2,5389.00,2793.0,5589.25,2908.0,5825.75,2905.0,5750.50,2752.0,4823.25,2634.0,...,3897.00,2481.0,3952.25,2507.0,3656.25,2590.0,3287.25,2661.0,3061.50,2688.0
3,5556.25,2800.0,5831.00,2848.0,5861.50,2832.0,5173.00,2713.0,3629.00,2546.0,...,4001.75,2556.0,3814.50,2545.0,3387.75,2595.0,3038.50,2643.0,2935.00,2646.0
4,5076.25,2856.0,5329.00,2860.0,5617.75,2854.0,5901.25,2912.0,6081.25,3044.0,...,3488.00,2719.0,3550.75,2680.0,3831.00,2662.0,3957.25,2707.0,3784.50,2775.0

In [51]:
df_f['ClassId'] = list(df['ClassId'])
df_f['Path'] = list(df['Path'])

In [52]:
display(df.shape)

(16237, 8)

In [53]:
# display(df_f[0:250])
# display(df_f[1000:1500])
# display(df_f[2000:3500])
# display(df_f[4500:5000])

In [54]:
df_f.to_csv(path_or_buf=f'./data_{n_classes}_{cuts}_cuts.csv', index=False)

In [55]:
data = pd.read_csv(f'./data_{n_classes}_{cuts}_cuts.csv')
display(data.head(5))

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_72,f_73,f_74,f_75,f_76,f_77,f_78,f_79,ClassId,Path
0,5162.50,2572.0,5234.50,2732.0,5423.50,2787.0,5708.75,2707.0,6015.75,2759.0,...,3691.75,2725.0,3344.50,2885.0,3163.50,2880.0,3183.50,2774.0,0,Train/0/00000_00000_00000.png
1,5233.75,2842.0,5369.25,2887.0,5538.00,2914.0,5683.25,2881.0,5831.50,2791.0,...,3910.50,2539.0,3490.00,2686.0,3177.25,2791.0,3108.25,2815.0,0,Train/0/00000_00000_00001.png
2,5389.00,2793.0,5589.25,2908.0,5825.75,2905.0,5750.50,2752.0,4823.25,2634.0,...,3952.25,2507.0,3656.25,2590.0,3287.25,2661.0,3061.50,2688.0,0,Train/0/00000_00000_00002.png
3,5556.25,2800.0,5831.00,2848.0,5861.50,2832.0,5173.00,2713.0,3629.00,2546.0,...,3814.50,2545.0,3387.75,2595.0,3038.50,2643.0,2935.00,2646.0,0,Train/0/00000_00000_00003.png
4,5076.25,2856.0,5329.00,2860.0,5617.75,2854.0,5901.25,2912.0,6081.25,3044.0,...,3550.75,2680.0,3831.00,2662.0,3957.25,2707.0,3784.50,2775.0,0,Train/0/00000_00000_00004.png

In [56]:
d0 = data[data['ClassId'] == 0]
d1 = data[data['ClassId'] == 1]
d2 = data[data['ClassId'] == 2]
d3 = data[data['ClassId'] == 3]
d4 = data[data['ClassId'] == 4]

In [57]:
d0.sample(n=10)

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_72,f_73,f_74,f_75,f_76,f_77,f_78,f_79,ClassId,Path
72,7592.00,8160.0,7597.00,8160.0,7603.50,8160.0,7604.50,8160.0,7588.50,8160.0,...,3250.50,5129.0,3609.25,5100.0,3608.75,5019.0,3256.50,4982.0,0,Train/0/00000_00002_00021.png
41,5054.00,2826.0,3031.00,2295.0,2370.00,2758.0,2451.00,3979.0,3286.50,3538.0,...,5534.50,6249.0,5552.00,5517.0,5066.50,5648.0,5149.00,5731.0,0,Train/0/00000_00001_00019.png
78,904.00,576.0,927.50,585.0,965.00,637.0,1084.25,767.0,1437.25,972.0,...,5135.75,4431.0,4933.00,4113.0,4860.25,4227.0,4888.50,4570.0,0,Train/0/00000_00003_00004.png
138,3008.50,2997.0,2985.25,2902.0,2878.00,2304.0,2559.50,2138.0,2717.50,2027.0,...,3130.50,4050.0,2935.00,3409.0,3399.75,2393.0,3260.50,1772.0,0,Train/0/00000_00006_00014.png
13246,3007.00,2086.0,2332.50,2458.0,2651.50,3369.0,3187.75,2460.0,3311.00,1488.0,...,1772.50,1675.0,1664.25,1569.0,1717.75,1496.0,1725.25,1460.0,0,Test/03340.png
139,2613.75,2961.0,2625.25,2760.0,2656.25,2562.0,2733.50,2829.0,2653.25,2263.0,...,2089.00,1887.0,2378.00,2140.0,2584.75,2215.0,2558.75,1709.0,0,Train/0/00000_00006_00015.png
111,5078.50,4610.0,4397.00,4153.0,3916.75,3780.0,3681.50,3899.0,3729.75,4115.0,...,2754.25,2614.0,2726.00,2613.0,2719.00,2596.0,2695.25,2589.0,0,Train/0/00000_00005_00011.png
14630,2989.75,3710.0,3274.50,3985.0,4361.00,3838.0,4434.50,3045.0,3185.25,2234.0,...,1931.00,1897.0,1875.25,1880.0,1903.00,1796.0,1969.00,1731.0,0,Test/07712.png
45,2240.50,3165.0,2635.25,4265.0,3478.50,3463.0,3444.00,2501.0,2969.00,2308.0,...,4166.25,8134.0,4891.25,7911.0,5665.75,7827.0,6018.00,7822.0,0,Train/0/00000_00001_00023.png
84,887.25,600.0,1054.25,797.0,1344.25,1186.0,1973.25,2164.0,3256.50,2838.0,...,4521.50,3932.0,4433.50,3743.0,4437.75,3944.0,4351.50,4205.0,0,Train/0/00000_00003_00010.png

In [58]:
d4.sample(n=10)

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_72,f_73,f_74,f_75,f_76,f_77,f_78,f_79,ClassId,Path
6408,2542.00,2826.0,2626.25,2474.0,2512.25,2353.0,2873.00,2257.0,2970.50,1726.0,...,995.00,1065.0,949.00,997.0,919.25,984.0,946.50,963.0,4,Train/4/00004_00063_00020.png
5737,1055.50,884.0,1097.00,891.0,1047.50,883.0,997.50,882.0,958.75,917.0,...,791.00,756.0,772.00,807.0,755.50,828.0,755.00,800.0,4,Train/4/00004_00037_00009.png
5481,1407.75,744.0,1273.50,727.0,1084.50,718.0,945.00,724.0,843.25,719.0,...,609.00,615.0,600.50,605.0,591.25,553.0,589.00,533.0,4,Train/4/00004_00027_00007.png
6270,316.25,288.0,306.75,295.0,310.75,294.0,325.25,285.0,329.00,277.0,...,347.00,319.0,342.00,327.0,345.00,341.0,344.50,321.0,4,Train/4/00004_00058_00014.png
6326,1332.25,749.0,1235.25,754.0,1123.75,763.0,1027.50,699.0,908.00,734.0,...,800.25,705.0,859.75,741.0,854.75,762.0,846.00,763.0,4,Train/4/00004_00060_00021.png
13999,797.25,1605.0,807.50,1384.0,768.50,1224.0,683.00,1229.0,603.25,1294.0,...,694.00,885.0,694.75,854.0,694.50,820.0,715.25,811.0,4,Test/05745.png
5718,4217.00,5764.0,4312.00,5711.0,4468.50,5502.0,4544.50,5312.0,4379.75,5430.0,...,1883.75,3732.0,1844.50,3548.0,1881.25,4104.0,1916.00,4404.0,4,Train/4/00004_00036_00012.png
5097,1467.75,1418.0,1518.00,1626.0,1551.00,1604.0,1640.00,1661.0,1700.75,1643.0,...,2618.00,4305.0,2648.00,3327.0,2607.75,3247.0,2427.50,4143.0,4,Train/4/00004_00012_00015.png
15266,1473.00,2544.0,1501.25,2082.0,1483.75,1656.0,1423.25,1525.0,1378.75,1570.0,...,783.50,861.0,790.50,866.0,815.25,873.0,846.75,895.0,4,Test/09689.png
13822,908.00,830.0,922.00,926.0,943.25,902.0,966.00,761.0,1028.50,615.0,...,803.50,743.0,849.25,799.0,888.25,887.0,920.00,916.0,4,Test/05174.png