In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pywt
import os
from PIL import Image
import random
import math

In [20]:
path = './'
print(os.listdir(path))

['.git', '.gitignore', 'data_generator.ipynb', 'KNN.ipynb', 'main.ipynb', 'README.md', 'requirements.txt', 'SVM.ipynb', 'trafico-10', 'trafico-5', 'venv']

In [21]:
df1 = pd.read_csv(path+'trafico-5/Train.csv')
df2 = pd.read_csv(path+'trafico-5/Test.csv')

display(df1.shape)
display(df2.shape)

(6472, 8)

(2185, 8)

In [22]:
df = pd.concat([df1, df2])
display(df.shape, list(df.columns))

av_dim = math.ceil(df['Width'].mean()), math.ceil(df['Height'].mean())
display(av_dim)

(8657, 8)

['Width', 'Height', 'Roi.X1', 'Roi.Y1', 'Roi.X2', 'Roi.Y2', 'ClassId', 'Path']

(40, 40)

In [23]:
def toFV(mat, n):
  """__Haar wavelete function_
    mat: image matrix
    n: slices
  """ 
  for i in range(n):
    mat, (LH, HL, HH) = pywt.dwt2(mat, 'haar')
  return list(np.array(np.matrix(mat).flatten()).ravel())

In [48]:
cuts = 10
fvs = []
for p in df['Path']:
    im_path = './trafico-5/' + p
    # print(im_path)
    i = Image.open(im_path)
    new_i = i.resize(av_dim)
    # display(i, new_i)
    # print(len(toFV(np.asarray(new_i), cuts)))
    fvs.append(np.round(toFV(np.asarray(new_i), cuts), decimals=5))
fvs = np.matrix(fvs)
df_f = pd.DataFrame(fvs)

In [51]:
display(df_f.head(5))

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,123752.0,127464.0,131368.0,134652.0,140396.0,135816.0,118036.0,97592.0,102232.0,109936.0,...,99344.0,98944.0,100200.0,100592.0,101596.0,102924.0,102668.0,99672.0,96696.0,95320.0
1,129212.0,132100.0,135232.0,137028.0,137960.0,120740.0,104928.0,99596.0,104332.0,112020.0,...,99632.0,100208.0,99936.0,99048.0,100468.0,103036.0,103192.0,98816.0,95492.0,94772.0
2,130912.0,135956.0,139692.0,136040.0,119316.0,103788.0,97448.0,99832.0,100876.0,101548.0,...,98808.0,95672.0,97404.0,96632.0,98180.0,102048.0,103348.0,99940.0,95172.0,91992.0
3,133700.0,138864.0,139096.0,126176.0,98800.0,94284.0,95320.0,98544.0,101056.0,96376.0,...,95256.0,99588.0,98560.0,98016.0,100172.0,104924.0,101752.0,95724.0,90904.0,89296.0
4,126916.0,131024.0,135548.0,141012.0,146004.0,137740.0,108980.0,98992.0,100044.0,95912.0,...,120672.0,110004.0,99672.0,97204.0,103368.0,99312.0,99692.0,103888.0,106628.0,104952.0

In [55]:
df_f['ClassId'] = list(df['ClassId'])
df_f['Path'] = list(df['Path'])

In [61]:
display(df.shape)

(8657, 8)

In [71]:
# display(df_f[0:250])
# display(df_f[1000:1500])
# display(df_f[2000:3500])
# display(df_f[4500:5000])

In [72]:
df_f.to_csv(path_or_buf=f'./data_{cuts}.csv', index=False)

In [75]:
data = pd.read_csv('./data_10.csv')
display(data.head(5))

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,ClassId,Path
0,123752.0,127464.0,131368.0,134652.0,140396.0,135816.0,118036.0,97592.0,102232.0,109936.0,...,100200.0,100592.0,101596.0,102924.0,102668.0,99672.0,96696.0,95320.0,0,Train/0/00000_00000_00000.png
1,129212.0,132100.0,135232.0,137028.0,137960.0,120740.0,104928.0,99596.0,104332.0,112020.0,...,99936.0,99048.0,100468.0,103036.0,103192.0,98816.0,95492.0,94772.0,0,Train/0/00000_00000_00001.png
2,130912.0,135956.0,139692.0,136040.0,119316.0,103788.0,97448.0,99832.0,100876.0,101548.0,...,97404.0,96632.0,98180.0,102048.0,103348.0,99940.0,95172.0,91992.0,0,Train/0/00000_00000_00002.png
3,133700.0,138864.0,139096.0,126176.0,98800.0,94284.0,95320.0,98544.0,101056.0,96376.0,...,98560.0,98016.0,100172.0,104924.0,101752.0,95724.0,90904.0,89296.0,0,Train/0/00000_00000_00003.png
4,126916.0,131024.0,135548.0,141012.0,146004.0,137740.0,108980.0,98992.0,100044.0,95912.0,...,99672.0,97204.0,103368.0,99312.0,99692.0,103888.0,106628.0,104952.0,0,Train/0/00000_00000_00004.png