# Proyecto 1 - IA

## Getting sizes to resize

In [1]:
import pandas as pd
import numpy as np
from PIL import Image
import os, csv
import pywt             # Haar Wavelet function

Define variables

In [2]:
wavelet_cuts = 5

In [3]:
df = pd.read_csv("./trafico-5/Train.csv")
arr_widths = np.array(df["Width"]).astype(float)
arr_heights = np.array(df["Height"]).astype(float)

width_to_resize = int(np.average(arr_widths))
height_to_resize = int(np.average(arr_heights))

print("Average width of images: ", width_to_resize)
print("Average height of images: ", height_to_resize)
df.head()

Average width of images:  39
Average height of images:  39

,Width,Height,Roi.X1,Roi.Y1,Roi.X2,Roi.Y2,ClassId,Path
0,29,30,5,6,24,25,0,Train/0/00000_00000_00000.png
1,30,30,5,5,25,25,0,Train/0/00000_00000_00001.png
2,30,30,5,5,25,25,0,Train/0/00000_00000_00002.png
3,31,31,5,5,26,26,0,Train/0/00000_00000_00003.png
4,30,32,5,6,25,26,0,Train/0/00000_00000_00004.png

## Haar Wavelet Function
Compression image algorithm

In [4]:
def toFV(mat, n):
  """_Haar wavelete function
    mat: image matrix
    n: slices
  """ 
  for i in range(n):
    mat, (LH, HL, HH) = pywt.dwt2(mat, 'haar')
  return list(np.array(np.matrix(mat).flatten()).ravel())

In [5]:
print("Saving images with compressed images")
for index, row in df.iterrows():
    # Resizing image
    image = Image.open(os.path.join("trafico-5",row["Path"]))
    img_resized = image.resize((height_to_resize, width_to_resize))
    img_array = np.asarray(img_resized)
    # Applying Haat Wavelet Compression with 5 cuts
    fv_array = toFV(img_array, wavelet_cuts)

    # Writing csv file with compressed images
    class_id = row["ClassId"]
    filename = f"{class_id}.csv"
    f = open(filename, 'a')
    writer = csv.writer(f)
    writer.writerow(fv_array)
    f.close()
   
df_class_0 = pd.read_csv("0.csv") 
df_class_1 = pd.read_csv("1.csv") 
df_class_2 = pd.read_csv("2.csv") 
df_class_3 = pd.read_csv("3.csv") 
df_class_4 = pd.read_csv("4.csv") 
display(df_class_0.head())
display(df_class_1.head())
display(df_class_2.head())
display(df_class_3.head())
display(df_class_4.head())

Saving images with compressed images

,5125.000000000003,2416.000000000002,5197.500000000004,2609.000000000002,5394.750000000004,2658.000000000002,5682.000000000005,2594.000000000002,5933.000000000005,2729.0000000000023,...,3904.5000000000023,2541.0000000000014,3685.250000000003,2797.000000000002,3341.5000000000023,2968.000000000001,3151.2500000000023,2935.0000000000027,3175.0000000000027,2796.0000000000023
0,5180.75,2747.0,5310.50,2824.0,5489.25,2803.0,5655.75,2712.0,5713.25,2722.0,...,3955.25,2392.0,3906.50,2490.0,3509.50,2705.0,3176.00,2837.0,3110.25,2830.0
1,5332.50,2675.0,5529.25,2847.0,5768.75,2815.0,5627.75,2628.0,4647.00,2623.0,...,3858.00,2429.0,3940.50,2414.0,3671.25,2555.0,3299.00,2669.0,3067.50,2687.0
2,5506.25,2668.0,5767.75,2782.0,5752.75,2802.0,4968.50,2657.0,3511.75,2468.0,...,3969.50,2475.0,3826.75,2451.0,3417.75,2527.0,3051.75,2617.0,2945.75,2614.0
3,5026.50,2781.0,5273.50,2842.0,5570.25,2795.0,5880.50,2818.0,5995.75,2954.0,...,3515.25,2631.0,3529.25,2614.0,3787.50,2606.0,3935.00,2646.0,3766.25,2690.0
4,5691.75,2848.0,6004.00,2817.0,5845.00,2772.0,4909.00,2759.0,3555.00,2828.0,...,3308.00,2600.0,3483.25,2573.0,3788.00,2600.0,3869.75,2636.0,3660.50,2628.0

,5290.500000000003,4875.000000000005,5130.000000000004,4770.000000000003,5066.000000000004,4788.000000000005,5123.250000000005,5210.000000000002,5158.500000000004,6214.000000000004,...,5159.500000000004,4697.000000000005,5255.250000000003,4693.000000000004,5239.750000000005,4715.000000000002,5191.000000000004,4693.000000000004.1,5141.500000000004,4630.000000000004
0,5421.25,5023.0,5214.75,4934.0,5157.5,4922.0,5164.25,5141.0,5171.75,5755.0,...,4999.75,4694.0,5093.25,4677.0,5091.00,4678.0,5082.25,4677.0,5030.00,4653.0
1,5584.00,4654.0,5344.25,4619.0,5167.0,4533.0,5049.75,4521.0,4956.25,4578.0,...,4823.50,4680.0,4849.75,4757.0,4832.50,4585.0,4811.75,4597.0,4822.25,4583.0
2,5790.50,4499.0,5715.00,4506.0,5406.0,4473.0,5232.25,4497.0,5186.75,4473.0,...,4547.25,4456.0,4814.00,4270.0,4806.75,4457.0,4635.25,4370.0,4544.75,4376.0
3,5628.00,4231.0,5535.75,4218.0,5250.0,4218.0,5135.50,4216.0,5082.00,4188.0,...,4320.25,4129.0,4623.25,3968.0,4555.25,4065.0,4304.25,4139.0,4192.00,4106.0
4,5278.75,4083.0,5083.25,4061.0,5101.5,4068.0,5105.50,4067.0,4922.75,4030.0,...,4166.25,3891.0,4489.75,3878.0,4443.25,3787.0,4210.25,3893.0,4017.50,3841.0

,1533.2500000000011,1469.0000000000005,1510.0000000000011,1469.0000000000005.1,1582.0000000000014,1537.0000000000007,1698.7500000000014,1633.0000000000011,1697.0000000000011,1653.0000000000007,...,1643.5000000000014,1566.0000000000016,1656.0000000000014,1541.0000000000011,1673.000000000001,1595.0000000000014,1666.5000000000014,1645.000000000001.1,1642.250000000001,1652.0000000000011
0,1494.75,1429.0,1476.50,1438.0,1501.00,1491.0,1594.50,1556.0,1704.75,1574.0,...,1603.75,1622.0,1630.75,1571.0,1642.0,1537.0,1638.75,1562.0,1641.75,1624.0
1,1455.25,1374.0,1430.50,1375.0,1486.00,1476.0,1596.75,1554.0,1674.75,1498.0,...,1557.00,1537.0,1568.25,1535.0,1615.5,1489.0,1655.00,1485.0,1651.75,1559.0
2,1666.25,1389.0,1467.25,1406.0,1393.75,1399.0,1429.50,1427.0,1503.75,1468.0,...,1529.75,1563.0,1504.25,1532.0,1553.0,1478.0,1618.75,1433.0,1550.75,1440.0
3,1531.25,1414.0,1416.00,1419.0,1378.00,1404.0,1455.75,1435.0,1548.25,1477.0,...,1534.25,1574.0,1522.00,1539.0,1498.5,1479.0,1533.25,1440.0,1593.75,1428.0
4,1377.50,1380.0,1358.50,1365.0,1369.00,1397.0,1500.25,1455.0,1607.50,1483.0,...,1474.50,1546.0,1480.25,1499.0,1463.0,1441.0,1459.50,1403.0,1458.50,1347.0

,941.0000000000006,940.0000000000006,953.2500000000006,969.0000000000008,959.7500000000007,958.0000000000007,950.2500000000007,898.0000000000006,966.2500000000008,1011.0000000000008,...,1199.250000000001,1211.000000000001,1171.5000000000007,1191.000000000001,1198.750000000001,1183.0000000000007,1207.000000000001,1196.000000000001,1202.0000000000007,1199.0000000000007
0,938.00,885.0,940.00,963.0,942.50,1053.0,938.00,1090.0,922.00,1070.0,...,1149.25,1174.0,1170.25,1176.0,1167.50,1203.0,1144.00,1187.0,1125.50,1164.0
1,895.75,747.0,901.25,799.0,906.50,867.0,900.50,918.0,917.75,1029.0,...,1108.75,1146.0,1110.50,1138.0,1096.75,1159.0,1087.00,1179.0,1079.50,1186.0
2,839.50,729.0,840.50,729.0,843.25,815.0,842.25,950.0,857.75,983.0,...,1049.25,1098.0,1046.00,1129.0,1027.50,1118.0,1029.75,1141.0,1049.75,1188.0
3,807.50,716.0,808.75,703.0,804.00,778.0,792.50,949.0,806.75,993.0,...,1001.25,1276.0,1001.50,1240.0,1016.75,1158.0,1017.25,1120.0,1006.25,1118.0
4,762.75,666.0,767.50,697.0,766.25,771.0,762.00,867.0,764.50,985.0,...,960.25,1331.0,963.00,1256.0,956.50,1163.0,955.50,1139.0,959.25,1175.0

,5610.000000000005,2463.0000000000014,5531.250000000004,3250.000000000001,5541.750000000003,2654.000000000002,5411.000000000004,3762.000000000002,5481.500000000004,4033.0000000000036,...,4877.000000000004,2808.000000000002,5550.750000000005,2473.000000000002,5570.250000000004,1843.000000000001,5466.500000000004,1958.0000000000014,5363.000000000003,1962.0000000000016
0,5015.25,4306.0,5202.50,2945.0,5058.50,3295.0,5131.00,4563.0,5115.25,4671.0,...,5091.50,1754.0,5079.25,1922.0,4872.00,2024.0,4726.75,2109.0,4772.50,2392.0
1,4626.00,3543.0,5039.25,3351.0,4976.00,2768.0,5100.50,4073.0,5115.50,4212.0,...,5147.25,1204.0,4986.00,1427.0,4994.00,1513.0,4908.25,1598.0,4720.50,1742.0
2,4946.25,3267.0,4884.00,3365.0,5013.50,3297.0,5085.25,3611.0,4983.00,3702.0,...,5009.00,1397.0,4989.75,1225.0,4980.75,1436.0,4958.00,1415.0,4663.25,1637.0
3,4977.75,3271.0,4971.25,3366.0,5023.00,3571.0,5050.75,3958.0,4978.00,3859.0,...,4276.75,1972.0,4884.25,1353.0,4859.75,1219.0,4839.00,1529.0,4963.00,1314.0
4,4744.00,3401.0,4744.50,3950.0,4747.25,4156.0,4742.25,4367.0,4768.25,4132.0,...,4667.50,1497.0,4864.25,1045.0,4816.25,1285.0,4839.75,1408.0,4759.75,1003.0

## KNN Classification